<configuration>

    <property name="appName" value="test"/>
    <property name="separator" value="_"/>
    <property name="baseFolder" value="./target/log/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{ISO8601,UTC} %-5level [%thread] %logger{5}: %m%n%rEx</pattern>
        </encoder>
    </appender>
    <appender name="ALL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${baseFolder}${appName}${separator}all.log</file>
        <encoder>
            <pattern>%d{ISO8601,UTC} %-5level [%thread] %logger{5}: %m%n%rEx</pattern>
        </encoder>
    </appender>
    <appender name="ONLY_ISSUES" class="ch.qos.logback.core.FileAppender">
        <file>${baseFolder}${appName}${separator}issue.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{ISO8601,UTC} %-5level [%thread] %logger{5}: %m%n%rEx</pattern>
        </encoder>
    </appender>
    <appender name="ONLY_METRICS" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${baseFolder}${appName}${separator}metric.log</file>
        <encoder>
            <pattern>%d{ISO8601,UTC} %-5level [%thread] %logger{5}: %m%n%rEx</pattern>
        </encoder>
    </appender>
    <appender name="ONLY_CI" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${baseFolder}${appName}${separator}ci.log</file>
        <encoder>
            <pattern>%d{ISO8601,UTC} %-5level %logger{5}: %m%n%rEx</pattern>
        </encoder>
    </appender>


    <logger name="com.oracle.ci.metrics" level="INFO" additivity="false">
        <appender-ref ref="ONLY_METRICS"/>
    </logger>
    <logger name="com.oracle.ci" level="DEBUG">
        <appender-ref ref="ONLY_CI"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="ALL_FILE"/>
        <appender-ref ref="ONLY_ISSUES"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
